body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.nav-link, .navbar-brand, .auth-button {
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  text-transform: uppercase;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  text-decoration: none; /* Убирает подчёркивание */
}